################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DecoratorMode/obj/Debug
/DesignPatterns2/obj/Debug
/FactoryMethod/obj/Debug
/InnerObserver/obj/Debug
/ObserverMode/obj/Debug
/SimpleFactory/obj/Debug
/.vs/DesignPatterns/v15
/AdaptorPattern/obj/Debug
/FacadePattern/obj/Debug
